# Analysis on Assault rifles

In [50]:
from pandas import *
import numpy as np
x=read_csv('Ar.csv')
x

,Gun,Type,Ammo,Damage,Rate of fire(secs),Bullet speed(m/s),Reload Time(secs),Range,Body hit impact,Firing Mode
0,AKM,AR,7.62,49,0.100,715,2.900,380,10000.0,Normal/ Full Auto
1,M762,AR,7.62,47,0.086,715,2.900,380,10000.0,Normal/ Full Auto
2,Groza,AR,7.62,49,0.080,715,3.000,380,10000.0,Normal/ Full Auto
3,MK47 Mutant,AR,7.62,49,0.100,780,3.367,380,10000.0,Normal/ Burst
4,M16A4,AR,5.56,43,0.100,900,2.200,400,8000.0,Normal/ Burst
5,Scar-L,AR,5.56,43,0.096,870,2.200,350,9000.0,Normal/ Full Auto
6,M416,AR,5.56,43,0.086,880,2.100,360,3500.0,Normal/ Full Auto
7,AUG A3,AR,5.56,43,0.086,940,3.667,350,9000.0,Normal/ Full Auto
8,QBZ95,AR,5.56,43,0.092,870,3.660,350,9000.0,Normal/ Full Auto
9,G36C,AR,5.56,43,0.086,870,3.800,350,NaN,Normal/ Full Auto

# Guns with 7.62mm ammo

In [64]:
x[['Gun']][x['Ammo']==7.62]

           Gun
0          AKM
1         M762
2        Groza
3  MK47 Mutant

# Guns with 5.56mm ammo

In [65]:
x[['Gun']][x['Ammo']==5.56]

      Gun
4   M16A4
5  Scar-L
6    M416
7  AUG A3
8   QBZ95
9    G36C

# Gun(s) with fastest rate of fire(in secs)

In [66]:
x[['Gun','Rate of fire(secs)']][x['Rate of fire(secs)']==x['Rate of fire(secs)'].min()]

     Gun  Rate of fire(secs)
2  Groza                0.08

# Gun(s) with slowest rate of fire(in secs)

In [61]:
x[['Gun','Rate of fire(secs)']][x['Rate of fire(secs)']==x['Rate of fire(secs)'].max()]

Gun(s) with slowest rate of fire(in secs)

           Gun  Rate of fire(secs)
0          AKM                 0.1
3  MK47 Mutant                 0.1
4        M16A4                 0.1

# Gun(s) with highest Bullet speed(m/s)

In [71]:
x[['Gun','Bullet speed(m/s)']][x['Bullet speed(m/s)']==x['Bullet speed(m/s)'].max()]

      Gun  Bullet speed(m/s)
7  AUG A3                940

# Gun(s) with slowest Bullet speed(m/s)

In [72]:
x[['Gun','Bullet speed(m/s)']][x['Bullet speed(m/s)']==x['Bullet speed(m/s)'].min()]

     Gun  Bullet speed(m/s)
0    AKM                715
1   M762                715
2  Groza                715

# Gun(s) which takes fastest time to reload

In [73]:
x[['Gun','Reload Time(secs)']][x['Reload Time(secs)']==x['Reload Time(secs)'].min()]

    Gun  Reload Time(secs)
6  M416                2.1

# Gun(s) which takes slowest time to reload

In [75]:
x[['Gun','Reload Time(secs)']][x['Reload Time(secs)']==x['Reload Time(secs)'].max()]

    Gun  Reload Time(secs)
9  G36C                3.8

# Gun(s) with higest range

In [78]:
x[['Gun','Range']][x['Range']==x['Range'].max()]

     Gun  Range
4  M16A4    400

# Gun(s) with lowest range

In [80]:
x[['Gun','Range']][x['Range']==x['Range'].min()]

      Gun  Range
5  Scar-L    350
7  AUG A3    350
8   QBZ95    350
9    G36C    350

# Gun(s) with highest body hit impact

In [82]:
x[['Gun','Body hit impact']][x['Body hit impact']==x['Body hit impact'].max()]

           Gun  Body hit impact
0          AKM          10000.0
1         M762          10000.0
2        Groza          10000.0
3  MK47 Mutant          10000.0

# Gun(s) with lowest body hit impact

In [83]:
x[['Gun','Body hit impact']][x['Body hit impact']==x['Body hit impact'].min()]

    Gun  Body hit impact
6  M416           3500.0

# Guns with Normal/ Full Auto firing mode

In [87]:
x[['Gun']][x['Firing Mode']=='Normal/ Full Auto']

      Gun
0     AKM
1    M762
2   Groza
5  Scar-L
6    M416
7  AUG A3
8   QBZ95
9    G36C

# Guns with Normal/ Burst Auto firing mode

In [90]:
x[['Gun']][x['Firing Mode']=='Normal/ Burst']

           Gun
3  MK47 Mutant
4        M16A4

# Gun(s) with highest damage

In [92]:
x[['Gun','Damage']][x['Damage']==x['Damage'].max()]

           Gun  Damage
0          AKM      49
2        Groza      49
3  MK47 Mutant      49

# Gun(s) with lowest damage

In [93]:
x[['Gun','Damage']][x['Damage']==x['Damage'].min()]

      Gun  Damage
4   M16A4      43
5  Scar-L      43
6    M416      43
7  AUG A3      43
8   QBZ95      43
9    G36C      43

# Average Rate of fire

In [102]:
x['Rate of fire(secs)'].mean()

0.09119999999999998

# Average Reloading time

In [101]:
x['Reload Time(secs)'].mean()

2.9794000000000005

# Average Bullet speed(m/s)

In [100]:
x['Bullet speed(m/s)'].mean()

825.5

# Average Damage

In [103]:
x['Damage'].mean()

45.2

# Average range

In [105]:
x['Range'].mean()

368.0

# Average Body hit impact

In [106]:
x['Body hit impact'].mean()

8722.222222222223