In [1]:
from pandas import *

In [11]:
df=read_csv('SMG.csv')
df

,Gun,Type,Ammo,Damage,Rate of fire(secs),Bullet speed(m/s),Reload Time(secs),Range,Body hit impact,Firing Mode
0,Micro UZI,SMG,9.00,26,0.048,350,3.10,150,5000,Normal/ Full Auto
1,UMP45,SMG,0.45,39,0.092,400,3.10,200,7000,Normal/ Full Auto
2,Vector,SMG,9.00,31,0.054,300,2.20,150,7000,Normal/ Full Auto
3,Thompson,SMG,0.45,40,0.086,280,3.45,250,7000,Normal/ Full Auto
4,PP-19 Bizon,SMG,9.00,35,0.086,350,3.80,200,7000,Normal/ Full Auto
5,MP5K,SMG,9.00,33,0.067,400,4.58,200,7000,Normal/ Full Auto

# Guns with 9mm ammo

In [12]:
df[['Gun']][df['Ammo']==9]

           Gun
0    Micro UZI
2       Vector
4  PP-19 Bizon
5         MP5K

# Guns with .45ACP ammo

In [13]:
df[['Gun']][df['Ammo']==0.45]

        Gun
1     UMP45
3  Thompson

# Gun(s) with fastest rate of fire(in secs)

In [14]:
df[['Gun','Rate of fire(secs)']][df['Rate of fire(secs)']==df['Rate of fire(secs)'].min()]

         Gun  Rate of fire(secs)
0  Micro UZI               0.048

# Gun(s) with slowest rate of fire(in secs)

In [15]:
df[['Gun','Rate of fire(secs)']][df['Rate of fire(secs)']==df['Rate of fire(secs)'].max()]

     Gun  Rate of fire(secs)
1  UMP45               0.092

# Gun(s) with highest Bullet speed(m/s)

In [16]:
df[['Gun','Bullet speed(m/s)']][df['Bullet speed(m/s)']==df['Bullet speed(m/s)'].max()]

     Gun  Bullet speed(m/s)
1  UMP45                400
5   MP5K                400

# Gun(s) with slowest Bullet speed(m/s)

In [17]:
df[['Gun','Bullet speed(m/s)']][df['Bullet speed(m/s)']==df['Bullet speed(m/s)'].min()]

        Gun  Bullet speed(m/s)
3  Thompson                280

# Gun(s) which takes fastest time to reload

In [20]:
df[['Gun','Reload Time(secs)']][df['Reload Time(secs)']==df['Reload Time(secs)'].min()]

      Gun  Reload Time(secs)
2  Vector                2.2

# Gun(s) which takes slowest time to reload

In [21]:
df[['Gun','Reload Time(secs)']][df['Reload Time(secs)']==df['Reload Time(secs)'].max()]

    Gun  Reload Time(secs)
5  MP5K               4.58

# Gun(s) with higest range

In [22]:
df[['Gun','Range']][df['Range']==df['Range'].max()]

        Gun  Range
3  Thompson    250

# Gun(s) with lowest range

In [23]:
df[['Gun','Range']][df['Range']==df['Range'].min()]

         Gun  Range
0  Micro UZI    150
2     Vector    150

# Gun(s) with highest body hit impact

In [24]:
df[['Gun','Body hit impact']][df['Body hit impact']==df['Body hit impact'].max()]

           Gun  Body hit impact
1        UMP45             7000
2       Vector             7000
3     Thompson             7000
4  PP-19 Bizon             7000
5         MP5K             7000

# Gun(s) with lowest body hit impact

In [25]:
df[['Gun','Body hit impact']][df['Body hit impact']==df['Body hit impact'].min()]

         Gun  Body hit impact
0  Micro UZI             5000

# Gun(s) with highest damage

In [26]:
df[['Gun','Damage']][df['Damage']==df['Damage'].max()]

        Gun  Damage
3  Thompson      40

# Gun(s) with lowest damage

In [27]:
df[['Gun','Damage']][df['Damage']==df['Damage'].min()]

         Gun  Damage
0  Micro UZI      26

# Average Rate of fire

In [28]:
df['Rate of fire(secs)'].mean()

0.07216666666666667

# Average Reloading time

In [29]:
df['Reload Time(secs)'].mean()

3.3716666666666675

# Average Bullet speed(m/s)

In [30]:
df['Bullet speed(m/s)'].mean()

346.6666666666667

# Average Damage

In [31]:
df['Damage'].mean()

34.0

# Average range

In [32]:
df['Range'].mean()

191.66666666666666

# Average Body hit impact

In [33]:
df['Body hit impact'].mean()

6666.666666666667