In [1]:
from pandas import *

In [2]:
df=read_csv('Bolt.csv')
df

,Gun,Type,Ammo,Damage,Rate of fire(secs),Bullet speed(m/s),Reload Time(secs),Range,Body hit impact,Firing Mode
0,AWM,SR,.300 Magnum,105,1.85,945,4.6,650,40000,Single Auto
1,Kar98k,SR,7.62,75,1.90,760,4.0,500,16000,Single Auto
2,M24,SR,7.62,79,1.80,790,4.2,600,20000,Single Auto
3,Win94,SR,.45,66,0.60,760,4.0,500,16000,Single Auto

# Guns and their Ammo type

In [3]:
df[['Gun','Ammo']]

      Gun         Ammo
0     AWM  .300 Magnum
1  Kar98k         7.62
2     M24         7.62
3   Win94          .45

# Gun(s) with fastest rate of fire(in secs)

In [4]:
df[['Gun','Rate of fire(secs)']][df['Rate of fire(secs)']==df['Rate of fire(secs)'].min()]

     Gun  Rate of fire(secs)
3  Win94                 0.6

# Gun(s) with slowest rate of fire(in secs)

In [5]:
df[['Gun','Rate of fire(secs)']][df['Rate of fire(secs)']==df['Rate of fire(secs)'].max()]

      Gun  Rate of fire(secs)
1  Kar98k                 1.9

# Gun(s) with highest Bullet speed(m/s)

In [6]:
df[['Gun','Bullet speed(m/s)']][df['Bullet speed(m/s)']==df['Bullet speed(m/s)'].max()]

   Gun  Bullet speed(m/s)
0  AWM                945

# Gun(s) with slowest Bullet speed(m/s)

In [7]:
df[['Gun','Bullet speed(m/s)']][df['Bullet speed(m/s)']==df['Bullet speed(m/s)'].min()]

      Gun  Bullet speed(m/s)
1  Kar98k                760
3   Win94                760

# Gun(s) which takes fastest time to reload

In [8]:
df[['Gun','Reload Time(secs)']][df['Reload Time(secs)']==df['Reload Time(secs)'].min()]

      Gun  Reload Time(secs)
1  Kar98k                4.0
3   Win94                4.0

# Gun(s) which takes slowest time to reload

In [9]:
df[['Gun','Reload Time(secs)']][df['Reload Time(secs)']==df['Reload Time(secs)'].max()]

   Gun  Reload Time(secs)
0  AWM                4.6

# Gun(s) with higest range

In [10]:
df[['Gun','Range']][df['Range']==df['Range'].max()]

   Gun  Range
0  AWM    650

# Gun(s) with lowest range

In [11]:
df[['Gun','Range']][df['Range']==df['Range'].min()]

      Gun  Range
1  Kar98k    500
3   Win94    500

# Gun(s) with highest body hit impact

In [12]:
df[['Gun','Body hit impact']][df['Body hit impact']==df['Body hit impact'].max()]

   Gun  Body hit impact
0  AWM            40000

# Gun(s) with lowest body hit impact

In [13]:
df[['Gun','Body hit impact']][df['Body hit impact']==df['Body hit impact'].min()]

      Gun  Body hit impact
1  Kar98k            16000
3   Win94            16000

# Gun(s) with highest damage

In [14]:
df[['Gun','Damage']][df['Damage']==df['Damage'].max()]

   Gun  Damage
0  AWM     105

# Gun(s) with lowest damage

In [15]:
df[['Gun','Damage']][df['Damage']==df['Damage'].min()]

     Gun  Damage
3  Win94      66

# Average Rate of fire

In [16]:
df['Rate of fire(secs)'].mean()

1.5374999999999999

# Average Reloading time

In [17]:
df['Reload Time(secs)'].mean()

4.2

# Average Bullet speed(m/s)

In [18]:
df['Bullet speed(m/s)'].mean()

813.75

# Average Damage

In [19]:
df['Damage'].mean()

81.25

# Average range

In [20]:
df['Range'].mean()

562.5

# Average Body hit impact

In [21]:
df['Body hit impact'].mean()

23000.0